.main{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 1rem;
    border: 2px solid #aeaeae;
    border-radius: 10px;
    padding: 1rem;
    color: #828282;

    h3{
        grid-column:  1 / span 3;
        color: black;
    }

    .rating{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1{
            color: #8900E1;
        }
    }

    .difficulty{
        h1{
            color: black;
        }
    }
}