.container {
    padding: 4rem 8rem;
    background-color: rgba(79, 15, 135, 0.15);
    min-height: 100vh;
  }
  
  .title {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    color: #57068C; // NYU 보라색 느낌
  }
  
  .searchbar {
    width: 100%;
    padding: 1.25rem 1.75rem;
    border-radius: 9999px;
    //border: 1px solid #484848;
    border: none;
    font-size: 1.25rem;
    margin-bottom: 2rem;
    background-color: #E6E6E6
  }
  
  .filterRow {
    display: flex;
    gap: 1rem;
    margin-bottom: 2.5rem;
    flex-wrap: wrap;
  }
  
  .dropdown {
    padding: 1.0rem 1.5rem;
    border-radius: 9999px;
    border: 1px solid #484848;
    background-color: white;
    font-size: 1.25rem;
  }
  
  .cardList {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  