.card {
    background: #fff;
    border: 2px solid #a1a1a1;
    border-radius: 10px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .headerRow {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: #747474;
  }
  
  .meta {
    display: flex;
    gap: 1.25rem;
    font-weight: 500;
  }
  
  .divider {
    border: none;
    border-top: 1px solid #747474;
  }
  
  .contentRow {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
  }
  
  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }
  
  .title {
    font-size: 1.7rem;
    font-weight: 700;
  }
  
  .professor {
    font-size: 1.2rem;
    color: #747474;
  }
  
  .time {
    font-size: 1.1rem;
    color: #747474;
  }

  
  .rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80px;
  
    .score {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
    }
    
    .red {
      background-color: #FF9090;
    }
    
    .yellow {
      background-color: #FFCD90;
    }
    
    .green {
      background-color: #90FF9F;
    }
    
    .gray {
      background-color: #E6E6E6;
    }
  
    .ratingInfo {
      font-size: 1rem;
      text-align: center;
      color: #131313;
      margin-top: 0.5rem;
    }
  }
  